.DS_STORE
*/**/.DS_STORE
data/**/*.zip
data/**/*.m2
data/**/*.MPQ
data/**/*.BLP
data/**/*.dbc
data/dbc/*
data/patch/*
public/item-textures/*
node_modules
dist/
e2e/test-learnings.json
screenshots/
test-results/
playwright-report/

